@keyframes hero-welcome-slide {
	0%,
	22% {
		transform: translate3d(0, 0, 0);
	}

	33%,
	55% {
		transform: translate3d(0, -1.15em, 0);
	}

	66%,
	88% {
		transform: translate3d(0, -2.3em, 0);
	}

	99.99% {
		transform: translate3d(0, -3.45em, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

.animate-hero-welcome-slide {
	animation: hero-welcome-slide 8s ease-in-out infinite;
	will-change: transform;
}

@keyframes giftbox-slider {
	0% {
		transform: translate3d(-50%, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

.animate-giftbox-slider {
	animation: giftbox-slider 32s linear infinite;
	will-change: transform;
}
